.attribution { font-size: 11px; text-align: center;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 10px;

position: absolute;
width: auto;
height: 44px;
left: calc(50% - 405/2);
bottom: 24.88px;

background: rgb(57, 71, 95,.5);
border-radius: 24px;

color: #fff;}

.attribution a { color: hsl(228, 100%, 76%); }

/* @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap'); */

:root{
  --clr-main: hsl(25, 97%, 53%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey:hsl(217, 12%, 63%);
  --clr-mid-grey:hsl(216, 12%, 54%);
  --clr-dark-blue:hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);

  --o-75:75%;
  --o-50:50%;

  --fs-100:1rem;
  --fs-150:1.5rem;
  --fs-200:2rem;

  --fw-700:700;
  --fw-400:400;

  --s-s:32px;
  --s-mid:48px;
  --s-big:51px;

}

*,
*::before,
*::after{
box-sizing: border-box;
}

*{
  margin:0;
  padding: 0;

}

body{
  font-family: 'Overpass';

  min-width: 100%;
  min-height: 100vh;
  background-color: var(--clr-very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-light-grey);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 34px;
  gap: var(--s-s);

  width: 413px;
  height: 412.08px;

  background: linear-gradient(180deg, #232A34 0%, #171E28 100%);
  border-radius: var(--s-s);

}

.visible{
    display: contents;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;

}

.invisible{
    display:none;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.star-circle{
  width: var(--s-mid);
  background-color: var(--clr-dark-blue) ;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;

  border-radius: 40px;
}

.info{
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

}

.title{

  font-family: 'Overpass';
  font-size: var(--fs-200);
  font-weight: var(--fw-700);
  color: var(--clr-white)

}

form {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 100%;
height: 127px;

flex: none;
order: 2;
flex-grow: 0;
}

span.circle-rating {

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 100%;
height: 52px;

flex: none;
order: 0;
flex-grow: 0;
}

.hidebox{
    display: none;
}

.circle-value {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 20px;
gap: 10px;

width: 52px;
height: 52px;

background: var(--clr-dark-blue);
opacity: 0.75;
border-radius: 32px;

color:var(--clr-light-grey);
font-weight: var(--fw-700);

transition: all 0.15s ease-in;

}

.circle-value:hover {
background: var(--clr-main);
opacity: 1;
color: var(--clr-white);

}

input[type=radio]:checked+ .circle-value{
background: var(--clr-light-grey);
opacity: 1;
color: var(--clr-white);

}
.submit{

    width: 100%;
    padding: 16px;
    /* height: 52px; */
    border-radius: 32px;

    font-weight: var(--fw-700);
    color: var(--clr-white);
    background-color: var(--clr-main);
    border: none;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
}


.submit:hover{

    width: 100%;
    padding: 16px;
    /* height: 52px; */
    border-radius: 32px;

    font-weight: var(--fw-700);
    color: var(--clr-main);
    background-color: var(--clr-white);
    border-color: none;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;

    /* width: 193px;
    height: 36px; */

    background: var(--clr-dark-blue);
    opacity: 0.75;
    border-radius: 32px;

    flex: none;
    /* order: 1; */
    flex-grow: 0;

}

.result-txt{
    color: var(--clr-main);
    font-size: var(--fs-100);
    font-weight: var(--fw-700);
    line-height: 20px;
}

.thanks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 48px 16px; */
  gap: 32px;

}

.thanks-text{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

text-align: center;

}

.hidden-content{
  display:none;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  /* transition: all 0.15s ease-in; */
}

.reveal{

  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;


}

